extends layout

block content
  div.jumbotron
    h1 Welcome to 100 Letters
    p 100 Letters gives people a simple means of communicating small sweet messages to their loved ones at times that they need them the most. It's simple!
    p
        a.btn.btn-primary.btn-lg(href='#') Learn More
