extends layout

block content
    div.panel.panel-primary
        div.panel-heading
            h3.panel-title Your Facebook Information
        div.panel-body 
            p Name: #{user.facebook.name}
            p Email: #{user.facebook.email}
