extend layout

block content
    ul.nav.nav-tabs
        li.active
            a(href="#toMe", data-toggle="tab") To Me
        li
            a(href="#fromMe", data-toggle="tab") From Me
    p
    div.tab-content(id='myTabContent')
        div.tab-pane.fade.active.in(id='toMe')
            table.table.table-striped.table-hover
                tbody
                    -for (var a = 0; a < receivedLetters.length; a++)
                        tr
                            td
                                a(href="#") #{receivedLetters[a].title}
        div.tab-pane.fade(id='fromMe')
            table.table.table-striped.table-hover
                tbody
                    -for (var a = 0; a < sentLetters.length; a++)
                        tr
                            td 
                                a(href="#") #{sentLetters[a].title}