body
  padding: 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

div  
#topheader
  margin-top 50px
  border-bottom: 1px solid #BF9393
  font 50px Lucida Grande, "Helvetica", Arial, sans-serif
  color: #7B3C3C
  text-align: center
  p
    margin: 0px
    padding: 0px
    padding-bottom: 6px;
a
  color: #00B7FF